:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}
@import "tailwindcss";
body {
    color: #fff;
}
/* tabla de materiales */
.materials span {
    border: 1px solid #14635a;
    border-width: 1px 0 0 0;
}
